<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Enerfit</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
         <nav class="navbar">
            <div class="logo">
               <a href="/Home/Index"> <img src="/Imagenes/Logo.png" alt="Enerfit" /></a>
            </div>
           <ul class="nav-links">
    <li>
        <a href="/Home/Comunidad" class="@(ViewContext.RouteData.Values["action"]?.ToString() == "Comunidad" ? "active-link" : "")">Comunidad</a>
    </li>
    <li>
        <a href="/Home/Alimentacion" class="@(ViewContext.RouteData.Values["action"]?.ToString() == "Alimentacion" ? "active-link" : "")">Alimentación</a>
    </li>
    <li>
        <a href="/Home/Entrenamiento" class="@(ViewContext.RouteData.Values["action"]?.ToString() == "Entrenamiento" ? "active-link" : "")">Entrenamiento</a>
    </li>
    <li>
        <a href="/Home/HealthBot" class="@(ViewContext.RouteData.Values["action"]?.ToString() == "HealthBot" ? "active-link" : "")">HealthBot</a>
    </li>
    <li>
        <a href="/Home/Progreso" class="@(ViewContext.RouteData.Values["action"]?.ToString() == "Progreso" ? "active-link" : "")">Progreso</a>
    </li>
</ul>
            <div class="user-icon">
<a href="/Home/InicioSesion">
    <img src="/Imagenes/Perfil.png" alt="Usuario" style="width:50px; height:50px; cursor:pointer;" />
</a>

            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <a href="https://www.instagram.com/"><img src="/Imagenes/Insta.png" alt="Insta"></a>
        <a href="https://www.facebook.com/?locale=es_LA"><img src="/Imagenes/Face.jfif" alt="Facebook"></a>
        <a href="https://x.com/?lang=es"><img src="/Imagenes/X.png" alt="X"></a>
        <p>Tel: 11275467328</p>
        <p>Email: enerfit@gmail.com</p>
        <p>copyright © 2025 Enerfit</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
